
* {
  box-sizing: border-box;
}

/* Set a background color */
body {
  background-color: none;
  font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 2000px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #bdbdbd;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 40%;
  border: 1px solid yellow; 
  margin-top: -10%;
}

.container#primeiro {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 40%;  
  margin-top: 5%;
  }

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -17px;
  background-color: #cda957;
  border: 4px solid white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 9.3%;

}

/* Place the container to the right */
.right {
  left: 50.2%;

}



/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #2c3e50;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid  #2c3e50;
  border-width: 10px 10px 10px 0;
  border-color: transparent  #2c3e50 transparent transparent ;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #2c3e50;
  position: relative;
  border-radius: 10px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent  #2c3e50;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.foto {

 width: 100%;

}


h1.titulosessao {

  text-align: center;
  color: #2c3e50;
  font-size: 200%;

}


h2.titulo {

  color: white;
  text-align: center;
  text-transform: uppercase;
}

h2.slogan{

  color: #808080;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  font-style: oblique;

}


h3.data {
padding-top: 2%;
color: white;
display: block;
float: left;
font-size: 90%;
font-weight: normal;
text-align: center;
}

p.texto {

  color: white;
  text-align: center;
  font-size: 80%;
}

p.centralizar{

text-align: justify;
font-size: 80%;
 color: white;

}

p.paragrafo {

  font-size: 14px;
  color: #808080;
  text-align: justify;



}
p.paragrafo-comum {

  font-size: 14px;
  color: #808080;
  text-align: center;


}
p.paragrafo-comum2 {

  font-size: 14px;
  color: #808080;
  text-align: center;
 

}

p.citacao {

  font-size: 14px;
  color: #2c3e50;
  text-align: center;


}

section.sessao1 {

width: 900px;
margin: 0 auto;
border: 1px solid blue;
}

section.time{

border: 1px solid lime;
margin: 0 auto;


}

section.timeline-total{

  border: 1px solid green;
  width: 1500px;
  margin: 0 auto;
}


section.sessao-maior{

border: 1px dashed red;
margin: 0 auto;
width: 1500px;
margin-top: 200px;


}
section.time-center{

  margin: 0 auto;

}

span.simbolo-citacao {

  color: #2c3e50;
  font-size: 600%;
  font-family: Times New Roman, serif;

}

li.lista{

color: #808080;
font-size: 14px;

}

ol.listanum{

width: 50%;
text-align: justify;
margin: 0 auto;



}

div.lista-centro{



}

section#sessao-historia {


border: 1px solid purple;
width: 100%;
margin: 0 auto;
  position: static;

}